@import '../../../styles/variable.scss';

.container-footer {
    border-radius: 0 0 30px 30px;
    box-shadow: var(--shadow-flat);
  
  .footer {
    display: flex;
    margin: 0;
    padding: 20px 40px;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: var(--grey);
  }
}
