@import '../../../styles/variable.scss';




.reminder-card {
  color: var(--background-color);
  text-decoration: inherit;
  border-radius: 20px;
  background: var(--background-color);
  height: 15vh;
  padding: 10px;
  box-shadow:  7px 7px 26px #bdbdbd,
             -7px -7px 26px #ffffff;
  transition:  .15s ease-in-out;

       &:hover {
        border: 1px solid var(--background-color);
        
       }
      &:active {
        box-shadow: inset 20px 20px 60px var(--background-color),
            inset -20px -20px 60px #ffffff;
            border: 1px solid white;
      }


  .card {
    
  
        .container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          .date {
            padding: 5px;
            font-size: 1.5em;
            color: var(--red);
            text-align: center;
            font-family: var(--font-monserrat);
            font-weight: 600;
          }
      
          .todo {
            border-top: 3px solid var(--font-color);
            line-height: 1.1em;
            color: var(--font-color);
            text-decoration: none;
          }
        }
  }
}






  

