@import '../../styles/variable.scss';

.login-page {
  background-color: var(--background-color);
  background-image: linear-gradient(var(--grey) 0.01em, transparent 0.1em),
    var(--noise);
  background-size: 100% 3em;
  justify-content: center;
  align-items: center;
  height: 75vh;
  .container-1 {
    height: 100%;
    display: flex;

    .right {
      display: block;
      margin: auto;
      padding: 0 5em;
      width: 60%;

      .flex {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        h1 {
          font-family: var(--font);
          color: var(--font-color);
          line-height: 1.5em;
          font-size: 2em;
          font-weight: 700;
        }

        p {
          font-family: var(--font);
          color: var(--blue);
          line-height: 1.4em;
          font-size: 1.5em;
          font-weight: 700;
        }
      }
    }
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .image {
        width: 800px;
        margin: 0 2em;

        img {
          width: 100%;
        }
      }
    }
  }
}

.contact-app__footer {
  background-image: var(--noise);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  padding: 0.5em 2em;
  background-color: var(--background-color);
  border-top: 5px solid var(--font-color);

  .left {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    p {
      color: var(--font-color);
      border-bottom: 10px double var(--red);
      font-family: var(--font);
      font-size: 1.5em;
      line-height: 1.2em;
      font-weight: 700;
    }

    h3 {
      color: var(--blue);
      font-family: var(--font);
      font-size: 1.3em;
    }
  }

  .right {
    cursor: pointer;
    .btn-register {
      font-family: var(--font);
      font-size: 1.5em;
      padding: 0.5em 3em;
      border: 5px solid var(--red);
      color: var(--red);
      border-radius: 10px;
      text-decoration: none;
      font-weight: 700;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
      transition: 0.3s ease;

      &:hover {
        background-color: var(--font-color);
        color: var(--background-color);
        border-color: var(--font-color);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .login-page {
    .container-1 {
      .left {
        display: none;
        img {
          display: none;
        }
      }

      .right {
        width: 100%;
        padding: 0;
        .flex {
          align-items: center;
          width: 60%;
          padding: 1em;
          border: 5px double var(--blue);
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;

          .login-input {
            align-items: center;
            input {
              width: 90%;
            }

            button {
              width: 90%;
            }
          }

          h1 {
            text-align: center;
            border-bottom: 2px double var(--red);
          }

          p {
            text-align: center;
          }
        }
      }
    }
  }

  .contact-app__footer {
    .left {
      h3 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .paper {
    .login-page {
      height: 75vh;
      background-size: 100% 1em;
      .container-1 {
        .right {
          .flex {
            padding: 1em 3em;
            h1 {
              font-size: 1.2em;
            }

            .login-input {
              input {
                font-size: 0.9em;
              }
            }

            p {
              display: none;
            }
          }
        }
      }
    }
    .contact-app__footer {
      .left {
        p {
          font-size: 0.6em;
          padding: 0 1em;
        }
      }

      .right {
        .btn-register {
          font-size: 0.8em;
          padding: 0.4em 0.8em;
        }
      }
    }
  }
}
