@import '../../../styles/variable.scss';

.login-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    display: block;
    padding: 0.5em;
    width: 50%;
    font-size: 1.2em;
    background-color: #ececec;
    border: 3px solid var(--blue);
    border-radius: 8px;
    line-height: 2em;
    font-family: var(--font);
  }
  button {
    width: 50%;

    padding: 10px 20px;
    font-size: 1.6em;
    color: var(--background-color);
    background-color: var(--red);
    border: none;
    border-radius: 15px;
    margin: 0.7em 0;
    font-family: var(--font);
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      opacity: 0.9;
      letter-spacing: 3px;
    }
  }
}
