@import '../../../styles/variable.scss';

.card-todo{
  border-radius: 15px; 
  box-shadow:  var(--shadow-flat);
  height: 16rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s;
  font-family: var(--font-monserrat);
  
  
  
  &:first-of-type{
    border: 1px solid var(--blue)
  }

    .card-todo__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        line-height: 2.5em;
        border-bottom: 2px dashed var(--grey);
        

        .card-todo__header__title{
            
            font-size: 1.6em;
            font-weight: 800;
            color: var(--blue);
        }

        .card-todo__header__category{
            
            font-size: 1.3em;
            font-weight: 600;
            color: var(--grey);

        }
    }

    .card-todo__body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &__content{
            color: var(--font-color);
            
        }
        
        &__date{
            color: var(--font-color);
         
            align-self: flex-end;

        }

    }

    .card-todo__footer{
        margin: 14px 0;
        display: flex;
        justify-content: space-between;
        align-content: center;

        &__left{
            

            button {
                font-family: var(--font-monserrat);
                border: none;
                padding: .5em 1em;
                cursor: pointer;
                border-radius: 15px;
                box-shadow: var(--shadow-flat);
                outline: transparent;
                transition: .2s;
                color: var(--black);

                &:hover{
                    outline: 1px solid white;
                }

                &:active{
                    outline: transparent;
                }
            }

            &__completed{               
                background-color: var(--green);

                &:active{
                    box-shadow: inset 5px 5px 10px #04b82f,
                    inset -5px -5px 10px #06f83f;
                }

            }

            &__uncompleted{
                background-color: var(--yellow);

                &:active{
                    box-shadow: inset 5px 5px 10px #d6b62d,
                    inset -5px -5px 10px #fff63d;
                }
            }
        }

        &__right{
            display: flex;
            align-items: center;
            gap: 1em;

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1em;
                border-radius: 50%;
                border: none;
                box-shadow: var(--shadow-flat);
                padding: .5em;
                cursor: pointer;
                background-color: transparent;
                outline: transparent;
                transition: .2s;
                

                &:hover{
                    outline: 1px solid white;
                }

                &:active{
                    outline: transparent;
                    box-shadow: var(--shadow-pressed);
                }
            }
            

            &__favorite__on{               
                color: var(--red);
            }   
               

            &__favorite__off{
                color: var(--font-color);
            }

            &__delete{
                color: var(--font-color);
            }

            &__edit{
                color: var(--font-color);
            }

        }
    }
 
}