.arsip-main-page{
    background-color: #A1B57D;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
}
.NotFound{
    background-color: #A1B57D;
    color: #313552;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 90vh;
}