@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
:root {
  --font-color: #272932;
  --background-color: #dedede;
  --black: #313131;
  --grey: #707070;
  --yellow: #fcd635;
  --pink: #c1a9bf;
  --blue: #2966ff;
  --red: #F05D5E;
  --green: #05d837;
  --font: 'Permanent Marker', cursive;
  --font-monserrat: 'Montserrat', sans-serif;
  --line: 2em;
  --soft: url('../assets/image/soft-wallpaper.png');
  --noise: url('../assets/image/noise.png');
  --texture: url('../assets/image/texture.png');
  --shadow-flat:   5px 5px 10px #bdbdbd,
  -5px -5px 10px #ffffff;
  --shadow-pressed: inset 10px 10px 20px #bdbdbd,
  inset -10px -10px 20px #ffffff;
  --shadow-pop: 5px 5px 10px rgb(189, 189, 189),
  -5px -5px 10px rgb(255, 255, 255);
  --text-shadow: 2px 2px 2px #bdbdbd,
  -2px -2px 2px #ffffff;
  
  --button-gradient: linear-gradient(145deg, #eeeeee, #c8c8c8);


}

[data-theme='dark'] {
  --font-color: #dedede;
  --background-color: #313131;
  --header: #dedede;
  
  --blue: #874efe;
  --red: #f9583d;
  --noise: url('../assets/image/soft-wallpaper.png');
  --grey: #b8b8b8;
  --shadow-flat:   5px 5px 10px #272727,
  -5px -5px 10px #3b3b3b;

  --shadow-pressed: inset 10px 10px 20px #272727,
  inset -10px -10px 20px #3b3b3b;

  --shadow-pop: 5px 5px 10px #272727,
  -5px -5px 10px #3b3b3b;

  --text-shadow: 2px 2px 2px #272727,
  -2px -2px 2px #3b3b3b;

  --button-gradient: linear-gradient(145deg, #343434, #2c2c2c);
}
