@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
:root {
  --font-color: #272932;
  --background-color: #dedede;
  --black: #313131;
  --grey: #707070;
  --yellow: #fcd635;
  --pink: #c1a9bf;
  --blue: #2966ff;
  --red: #F05D5E;
  --green: #05d837;
  --font: 'Permanent Marker', cursive;
  --font-monserrat: 'Montserrat', sans-serif;
  --line: 2em;
  --soft: url('../assets/image/soft-wallpaper.png');
  --noise: url('../assets/image/noise.png');
  --texture: url('../assets/image/texture.png');
  --shadow-flat:   5px 5px 10px #bdbdbd,
  -5px -5px 10px #ffffff;
  --shadow-pressed: inset 10px 10px 20px #bdbdbd,
  inset -10px -10px 20px #ffffff;
  --shadow-pop: 5px 5px 10px #bdbdbd,
  -5px -5px 10px #ffffff;


}

[data-theme='dark'] {
  --font-color: #dedede;
  --background-color: #313131;
  --header: #dedede;
  --blue: #39dbe9;
  --red: #f9583d;
  --noise: url('../assets/image/soft-wallpaper.png');
  --grey: #b8b8b8;
  --card-shadow-todo: 20px 20px 60px #2a2a2a,
  -20px -20px 60px #383838;
}
