.main-page{
    padding: 100px auto;
    display: flexbox;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-color:#A1B57D;
    min-height: 100vh;
    .NavLink{
       padding: 10px;
        background-color: #F3C892;
        color:#753188;
        text-decoration: none;
        border: 2px solid;
        border-radius: 10px;
        width: 100px;
        height: 20px;
        transition: .2s;
        text-align: center;
        justify-content: center;
        justify-items: center;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    
    .NavLink:hover{
        background-color: antiquewhite;
        scale: 1.1;
    }
}

.Card-container{
    margin-inline: 80px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 10px;
}


.wrapper{
    min-height: 50px;
    margin-inline: 0px;
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
    .input1{
        min-width: 450px;

    }
}