@import '../../styles/variable.scss';

.home-page {
  min-height: 70vh;
  // background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-flat);
  

  &__top {
    width: 100%;
    min-height: 55vh;
    display: flex;
    

    &__notes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 30%;
      gap: 1em;
      padding: 1em;
      box-shadow: var(--shadow-flat);
      
      
      
      &__search {
        display: flex;
        margin: 1em 0;
        justify-content: center;
        align-items: center;
        gap: 1em;
        width: 100%;

        &__input {
          
          .input-wrapper{
            
            .input{
              
            }
          }
          
        }

        &__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--background-color);
          background: var(--button-gradient);
          padding: .5em;
          color: var(--grey);
          border: none;
          font-size: 1.2em;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: var(--shadow-pop);
          transition: .2s ease-in-out;

          &:hover{
            background: none;
            color: var(--blue);
            box-shadow: var(--shadow-flat);
          }

          &:active{
            background: none;
            color: var(--blue);
            box-shadow: var(--shadow-pressed);
          }
        }

      }

      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__notfound{
          width: 90%;          
          box-shadow: var(--shadow-flat);
          border-radius: 15px;
          height: 200px;
         

          &__wrapper{
              border-radius: 15px;
              height: 100%;
              width: 100%;
              box-shadow: var(--shadow-pressed);
              display: flex;
              justify-content: center;
              align-items: center;

            h1{
              text-align: center;              
              letter-spacing: 1px;
              color: var(--background-color);
              text-shadow: var(--text-shadow);
              font-family: var(--font-monserrat);
              font-weight: 800;              
            }
          }
        }

        &__card {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 1em;
          padding: 1em 2em;
          width: 100%;

          .card-notes {
            border: 2px solid white;
            
            display: flex;
            width: 100%;
            overflow: hidden;
            text-decoration: none;
            box-shadow: var(--shadow-pressed);
            border-radius: 15px;
          
            &__content {
              height: max-content;
              width: 100%;
              padding: 1em;
              overflow: hidden;
              display: flex;
              flex-direction: column;
          
              &__title {
                text-decoration: none;
                text-align: center;
                h1 {
                  font-size: 1.3em;
                  overflow: hidden;
                  letter-spacing: 1px;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  margin-bottom: 5px;
                  text-decoration: none;
                  color: var(--font-color);
                  font-family: var(--font);
                }
              }
          
              &__date {
                font-size: .8em;
                margin-bottom: 8px;
                color: var(--font-color);
                font-family: var(--font-monserrat);
              }
          
              &__description {
                overflow: hidden;
                &__box {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 3;
          
                  overflow: hidden;
                  height: 60px;
                  width: 100%;
                  text-overflow: ellipsis;
                  color: var(--font-color);
                  font-family: var(--font-monserrat);
                  font-size: 1em;
                  background-image: linear-gradient(
                    var(--grey) 0.02em,
                    transparent 0.1em
                  );
                  background-size: 100% 1.1em;
                }
              }
          
              &__action {
                display: flex;
          
                button {
                  font-size: .8em;
                  font-weight: 600;
                  color: var(--grey);
                  background-color: var(--background-color);
                  font-family: var(--font-monserrat);
                  box-shadow: var(--shadow-pop);
                  transition: all .2s ease;
                  border-radius: 5px;
                  background: var(--button-gradient);
          
                  &:hover{
                    outline: 1px solid var(--blue);
                    color: var(--blue);
                    background: none;
                    box-shadow: var(--shadow-flat);
                  }
                  &:active{
                    outline: 1px solid var(--blue);
                    color: var(--blue);
                    background: none;
                    box-shadow: var(--shadow-pressed);
                  }
                }
              }
            }
          }
        }
      }


      &__show {
        margin: 1em 0;
        padding: .5em 0;
        width: 50%;
        text-decoration: none;
        border: 1px solid var(--blue);
        border-radius: 10px;
        transition: .3s ease;
        box-shadow: var(--shadow-flat);

        &__navlink{
          text-align: center;
          color: var(--blue);
          font-family: var(--font-monserrat);
          font-weight: 600;
        }

        &:hover{
          letter-spacing: 1px;
        }

        &:active{
            box-shadow: var(--shadow-pressed);
          }
      }
      
    }

    &__explore {
      display: flex;
      flex-direction: column;
      width: 70%;
      

      &__reminder {
        // display: flex;
         padding: 2em;
         box-shadow: var(--shadow-flat);
        // flex-grow: 1;
        // justify-content: center;
        // align-items: center;

        
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: .3em;
        
        
       
      }

      &__thread {
        display: flex;
        padding: 2em;
        box-shadow: var(--shadow-pressed);
        flex-grow: 2;
        justify-content: center;
        align-items: center;
        
        
       
      }
    }
  }

  .main-bottom {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-flat);
  }
}
