@import '../../styles/variable.scss';

.main-page {
  min-height: 70vh;
  background-color: var(--background-color);
  background-image: var(--noise);
  display: flex;
  flex-direction: column;

  .main-top {
    width: 100%;
    min-height: 55vh;
    display: flex;

    .notes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 30%;
      gap: 1em;

      border: 3px solid var(--font-color);
      border-top: none;
      .wrapper-search {
        display: flex;
        padding: 1em 3em;
        justify-content: space-evenly;
        width: 100%;
      }

      .wrapper-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .Card-container {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 1em;
          padding: 1em 2em;
          width: 100%;
        }
      }

      // .wrapper-add {
      // }
    }

    .explore {
      display: flex;
      flex-direction: column;
      width: 70%;
      border-right: 3px solid var(--font-color);

      .example {
        display: flex;
        padding: 2em;

        flex-grow: 1;
        border-bottom: 3px solid var(--font-color);
        justify-content: center;
        align-items: center;
        background-color: var(--background-color);
        background-image: var(--noise);
      }
    }
  }

  .main-bottom {
    height: 15vh;
    display: flex;
    border-inline: 3px solid var(--font-color);
    border-bottom: 3px solid var(--font-color);
    background-color: var(--background-color);
    background-image: var(--noise);
    justify-content: center;
    align-items: center;
  }
}
