.card-notes {
  border: 2px solid white;
  
  display: flex;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  box-shadow: var(--shadow-pressed);
  border-radius: 15px;

  &__content {
    height: max-content;
    width: 100%;
    padding: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__title {
      text-decoration: none;
      text-align: center;
      h1 {
        font-size: 1.3em;
        overflow: hidden;
        letter-spacing: 1px;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 5px;
        text-decoration: none;
        color: var(--font-color);
        font-family: var(--font);
      }
    }

    &__date {
      font-size: .8em;
      margin-bottom: 8px;
      color: var(--font-color);
      font-family: var(--font-monserrat);
    }

    &__description {
      overflow: hidden;
      &__box {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        overflow: hidden;
        height: 60px;
        width: 100%;
        text-overflow: ellipsis;
        color: var(--font-color);
        font-family: var(--font-monserrat);
        font-size: 1em;
        background-image: linear-gradient(
          var(--grey) 0.02em,
          transparent 0.1em
        );
        background-size: 100% 1.1em;
      }
    }

    &__action {
      display: flex;

      button {
        font-size: .8em;
        font-weight: 600;
        color: var(--grey);
        background-color: var(--background-color);
        font-family: var(--font-monserrat);
        box-shadow: var(--shadow-pop);
        transition: all .2s ease;
        border-radius: 5px;
        background: var(--button-gradient);

        &:hover{
          outline: 1px solid var(--blue);
          color: var(--blue);
          background: none;
          box-shadow: var(--shadow-flat);
        }
        &:active{
          outline: 1px solid var(--blue);
          color: var(--blue);
          background: none;
          box-shadow: var(--shadow-pressed);
        }
      }
    }
  }
}
