.Card {
  border: 2px solid var(--red);
  border-top: 10px solid var(--red);
  display: flex;
  background-color: var(--background-color);
  width: 100%;
  overflow: hidden;
  text-decoration: none;

  .card-content {
    height: max-content;
    width: 100%;
    padding: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .note-item__title {
      text-decoration: none;
      text-align: center;
      h1 {
        overflow: hidden;
        letter-spacing: 1px;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 5px;
        text-decoration: none;
        color: var(--font-color);
        font-family: var(--font);
      }
    }

    .note-item__date {
      font-size: 0.8em;
      margin-bottom: 8px;
      color: var(--font-color);
      font-family: var(--font-monserrat);
    }

    .description {
      overflow: hidden;
      .Box {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        overflow: hidden;
        height: 60px;
        width: 100%;
        text-overflow: ellipsis;
        color: var(--font-color);
        font-family: var(--font-monserrat);
        font-size: 1em;
        background-image: linear-gradient(
          var(--grey) 0.02em,
          transparent 0.1em
        );
        background-size: 100% 1.1em;
      }
    }

    .note-item__action {
      display: flex;
    }
  }
}
