@import '../../../styles/variable.scss';

.button-setting {
  cursor: pointer;
  border: none;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;

}