@import '../../../styles/variable.scss';

.button-setting {
  cursor: pointer;
  border: none;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
