.detail_page{
    background-color: var(--background-color);
    padding: 2em;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;

    &__wrapper{
        width: 50%;
        gap: 2em;
        padding: 2em;
        box-shadow: var(--shadow-flat);
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid var(--blue);

        &__title{
            text-align: center;
            color: var(--font-color);
            font-family: var(--font);
            font-size: 2.3em;
            letter-spacing: 1px;
            text-shadow: var(--shadow-flat);
        }

        &__body{
            min-height: 30vh;
            width: 100%;
            color: var(--font-color);
            font-family: var(--font-monserrat);
            font-size: 1.5em;
            background-image: linear-gradient(
                var(--grey) 0.02em,
                transparent 0.1em
                 );
            background-size: 100% 1.2em;
        }

        &__date{
            color: var(--font-color);
            font-family: var(--font-monserrat);
            font-size: 1.5em;
            letter-spacing: 1px;
        }
        
    }
}