@import 'styles/variable.scss';

*,
html {
  margin: 0;
}

.overlay {
  background-color: var(--background-color);
  padding: 2em;
  
  .contact-app {
    

    .contact-app__header {
      padding: 0 5em;
      background-image: var(--noise);
      background-color: var(--background-color);
      height: 10vh;
      border-bottom: 10px double var(--red);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        h2 {
          font-family: var(--font);
          background-color: var(--blue);
          color: var(--background-color);
          padding: 0.4em 0.8em;
        }
      }

      .settings {
        display: flex;
        align-items: center;
        gap: 3em;

        button {
          font-size: 1.5em;
          font-family: var(--font);
          background-color: var(--background-color);
          background-image: var(--noise);
          color: var(--font-color);
        }
      }
    }
  }
}

.contact-app-inside {
  background-color: var(--background-color);
  padding: 2em;
  

  .contact-app-container {
    border-radius: 30px;
    box-shadow: var(--shadow-flat);
    
  }
}

@media screen and (max-width: 600px) {
  .overlay {
    padding: 1em;
    .contact-app {
      .contact-app__header {
        padding: 1em;
        gap: 3em;
        height: 5vh;
        .logo {
          h2 {
            font-family: var(--font);
            background-color: var(--blue);
            color: var(--background-color);
            padding: 0.2em 0.4em;
            font-size: 1em;
          }
        }

        .settings {
          gap: 2em;
          font-size: 0.7em;
        }
      }
    }
  }
}
