@import '../../.././styles/variable.scss';

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: var(--shadow-flat);
  border-radius: 30px 30px 0 0;
  

  &__logo {
    width: 100%;
    
    border-radius: 30px 30px 0 0;
    box-shadow: var(--shadow-flat);
   

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 9vh;
      

      &__link {
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
          width: 3em;
        }

        h1 {
          color: var(--font-color);
          font-family: var(--font);
          font-size: 2em;
        }
      }
    }
  }

  &__container {
    display: flex;
    box-shadow: var(--shadow-flat);
    
    

    &__nav {
      display: flex;
      width: 70%;
      padding: 1.25em 1em;
      
      
      &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        
        

        &__logo {
          border-radius: 5px;
          box-shadow: var(--shadow-pop);
          background: var(--button-gradient);
          padding: 0.5em 1em;
          text-decoration: none;
          transition: .3s ease-out;
          position: relative;
          line-height: 1.5em;
          color: var(--grey);
          
  
          h2 {  
            font-family: var(--font-monserrat);
          }
  
          // &::after {
          //   content: '';
          //   position: absolute;
          //   width: 100%;
          //   transform: scaleX(0);
          //   height: 2px;
          //   bottom: 0;
          //   left: 0;
          //   background-color: var(--blue);
          //   transform-origin: center;
          //   transition: transform 0.3s ease-out;
          // }

          &:hover {
            box-shadow: var(--shadow-pop);
            background: none; 
            color: var(--blue);
          
            
          &:active {
            box-shadow: var(--shadow-pressed);
            background: none; 
            color: var(--blue);
          }

          
  
            // &::after {
            //   transform: scaleX(1);
            //   transform-origin: center;
            // }
          }
        }
      }

      
    }

    &__settings {
      display: flex;
      padding: 1.25em 1em;
      align-items: center;
      width: 30%;
      box-shadow: var(--shadow-pressed);

      

      &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        
      }

      button {
        font-size: 1.5em;
        font-weight: 700;
        cursor: pointer;
        background-color: var(--background-color);
        color: var(--grey);
        transition: .3s ease-out;
        box-shadow: var(--shadow-pop);
        padding: .2em .5em;
        border-radius: 5px;

        &:hover {
          color: var(--blue);
        }
      }

      &__btn-logout {
        background-color: var(--red);
        color: var(--blue);
        padding: 0.5em;
        transition: 0.2s ease-in-out;
        border: 2px solid var(--blue);
        
        
      }
    }
  }
}
