@import '../../styles/variable.scss';

.reminder-detail-page{
    background-color: var(--background-color);
    height: 75vh;
    
    display: flex;
    

    &__selector{
        width: 20%;
        flex-grow: 1;
        box-shadow: var(--shadow-flat);

        button {
            width: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            box-shadow: var(--shadow-flat);
            padding: 1em 2em;
            color: var(--grey);
            font-family: var(--font-monserrat);
            font-size: 1.5em;
            font-weight: 600;
        }
    }

    &__wrapper{
        padding: 2em;
        width: 60%;
        box-shadow: var(--shadow-pressed);

        &__card-container, &__notfound{
            
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 3em;
            
        }

        
    }

    &__progress{
        width: 20%;
        flex-grow: 1;
        box-shadow: var(--shadow-flat);
    }
}




