@import '../../styles/variable.scss';

.reminder-detail-page{
    background-color: var(--background-color);
    height: 75vh;
    padding: 5em;
    

    .reminder-detail-page__wrapper{
        

        

        .reminder-detail-page__wrapper__card-container, .reminder-detail-page__wrapper__notfound{
            
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 3em;

           

            .btn-popup{
                border-radius: 5%;
                box-shadow:  var(--card-shadow-todo);
                height: 100%;
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--background-color);
                border: 2px dashed var(--grey);
                color: var(--grey);
                font-weight: 500;
                font-family: var(--font-monserrat);
                font-size: 1.2em;
                cursor: pointer;
                transition: .2s ease-in-out;

                &:hover{
                    background: var(--grey);
                    color: var(--background-color);
                }
            }
        }

        
    }
}




